{% extends "students/base.html" %}

{% load static from static %}

{% block title %}
    <h1>Зв'язок з адміністратором</h1>
{% endblock %}
{% block meta_title %}
    Зв'язок з адміністратором
{% endblock %}
{% block content %}
    <div class="container">
        <form action="{% url "contact_admin" %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Надіслати" name="send_button">
        </form>
    </div>
{% endblock %}
{% block status_message %}
    {% if form.errors %}
        <div class="alert alert-warning" role="alert">
            Будь-ласка, виправте наступні помилки
        </div>
    {% else%}
        <div class="alert alert-success" role="alert">
            Повідомлення надіслано
        </div>
    {% endif %}
    {{ block.super }}
{% endblock %}