{% extends "students/base.html" %}

{% load static from staticfiles %}

{% block meta_title %}Групи{% endblock meta_title %}
<!-- Start Content Columns -->
{% block content %}
<div class="row" id="content-columns">
  <div class="col-xs-12" id="content-column">
  {% comment %}
    <div class="alert alert-warning" role="alert">Група успішно додана.</div>
  {% endcomment %}
    <h2>База груп</h2>
    <a href="{% url 'groups_add' %}" class="btn btn-primary">Додати групу</a>

    <!-- Start Students Listing -->
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th><a href="#">#</a></th>
          <th><a href="#">Назва &uarr;</a></th>
          <th><a href="#">Староста</a></th>
          <th>Дії</th>
        </tr>
      </thead>
      <tbody>
      {% for group in groups %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td><a href="{% url 'groups_edit' group.id  %}">{{group.name}}</td>
          <td><a href="{% url 'groups_edit' group.id %}">{{ group.teamlead.name }}</a></td>
          <td>
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle"
                      data-toggle="dropdown">Дія
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="{% url 'groups_edit' group.id  %}">Редагувати</a></li>
                <li><a href="#">Відвідування</a></li>
                <li><a href="{% url 'groups_delete' group.id  %}">Видалити</a></li>
              </ul>
            </div>
          </td>
        </tr>
    {% endfor %}
      </tbody>
    </table>
    <!-- End Students Listing -->

    <nav>
      <ul class="pagination">
        <li><a href="#">&laquo;</a></li>
        <li><a href="#">1</a></li>
        <li class="active"><a href="#">2</a></li>
      </ul>
    </nav>
  </div>
</div>
{% endblock content %}